email=SoftwareDevelopment@wonderlic.com
save-exact=true
registry=https://npm.wonderlic.com/

@actions:registry=https://registry.npmjs.org
@ampproject:registry=https://registry.npmjs.org
@angular-devkit:registry=https://registry.npmjs.org
@angular:registry=https://registry.npmjs.org
@apideck:registry=https://registry.npmjs.org
@apidevtools:registry=https://registry.npmjs.org
@ava:registry=https://registry.npmjs.org
@aws-crypto:registry=https://registry.npmjs.org
@aws-sdk:registry=https://registry.npmjs.org
@azure:registry=https://registry.npmjs.org
@babel:registry=https://registry.npmjs.org
@base2:registry=https://registry.npmjs.org
@bazel:registry=https://registry.npmjs.org
@bcoe:registry=https://registry.npmjs.org
@braintree:registry=https://registry.npmjs.org
@chromaui:registry=https://registry.npmjs.org
@cliqz-oss:registry=https://registry.npmjs.org
@cloudflare:registry=https://registry.npmjs.org
@cnakazawa:registry=https://registry.npmjs.org
@colors:registry=https://registry.npmjs.org
@commitlint:registry=https://registry.npmjs.org
@concordance:registry=https://registry.npmjs.org
@crossbrowsertesting:registry=https://registry.npmjs.org
@cspotcode:registry=https://registry.npmjs.org
@csstools:registry=https://registry.npmjs.org
@dabh:registry=https://registry.npmjs.org
@develar:registry=https://registry.npmjs.org
@devicefarmer:registry=https://registry.npmjs.org
@discoveryjs:registry=https://registry.npmjs.org
@docusaurus:registry=https://registry.npmjs.org
@electron:registry=https://registry.npmjs.org
@emotion:registry=https://registry.npmjs.org
@endiliey:registry=https://registry.npmjs.org
@esbuild:registry=https://registry.npmjs.org
@eslint:registry=https://registry.npmjs.org
@evocateur:registry=https://registry.npmjs.org
@exodus:registry=https://registry.npmjs.org
@fancyapps:registry=https://registry.npmjs.org
@formatjs:registry=https://registry.npmjs.org
@fsouza:registry=https://registry.npmjs.org
@gar:registry=https://registry.npmjs.org
@grpc:registry=https://registry.npmjs.org
@gulp-sourcemaps:registry=https://registry.npmjs.org
@hapi:registry=https://registry.npmjs.org
@humanwhocodes:registry=https://registry.npmjs.org
@hutson:registry=https://registry.npmjs.org
@hypnosphi:registry=https://registry.npmjs.org
@iarna:registry=https://registry.npmjs.org/
@icons:registry=https://registry.npmjs.org
@isaacs:registry=https://registry.npmjs.org
@istanbuljs:registry=https://registry.npmjs.org
@jest:registry=https://registry.npmjs.org
@joshwooding:registry=https://registry.npmjs.org
@jridgewell:registry=https://registry.npmjs.org
@js-joda:registry=https://registry.npmjs.org
@jsdevtools:registry=https://registry.npmjs.org
@kwsites:registry=https://registry.npmjs.org
@kyleshockey:registry=https://registry.npmjs.org
@leichtgewicht:registry=https://registry.npmjs.org
@lerna:registry=https://registry.npmjs.org
@lezer:registry=https://registry.npmjs.org
@log4brains:registry=https://registry.npmjs.org
@malept:registry=https://registry.npmjs.org
@manifoldco:registry=https://registry.npmjs.org
@mapbox:registry=https://registry.npmjs.org
@marionebl:registry=https://registry.npmjs.org
@material-ui:registry=https://registry.npmjs.org
@maxmind:registry=https://registry.npmjs.org
@mdn:registry=https://registry.npmjs.org
@mdx-js:registry=https://registry.npmjs.org
@microsoft:registry=https://registry.npmjs.org
@mischnic:registry=https://registry.npmjs.org
@mole-inc:registry=https://registry.npmjs.org
@mrmlnc:registry=https://registry.npmjs.org
@n8tb1t:registry=https://registry.npmjs.org
@newrelic:registry=https://registry.npmjs.org
@next:registry=https://registry.npmjs.org
@ngtools:registry=https://registry.npmjs.org
@nicolo-ribaudo:registry=https://registry.npmjs.org
@nodelib:registry=https://registry.npmjs.org
@npmcli:registry=https://registry.npmjs.org
@nrwl:registry=https://registry.npmjs.org
@oclif:registry=https://registry.npmjs.org
@octokit:registry=https://registry.npmjs.org
@opencensus:registry=https://registry.npmjs.org
@opentelemetry:registry=https://registry.npmjs.org
@parcel:registry=https://registry.npmjs.org
@pdf-lib:registry=https://registry.npmjs.org
@phenomnomnominal:registry=https://registry.npmjs.org
@pm2:registry=https://registry.npmjs.org
@pmmmwh:registry=https://registry.npmjs.org
@pnpm:registry=https://registry.npmjs.org
@polka:registry=https://registry.npmjs.org
@popperjs:registry=https://registry.npmjs.org
@projectstorm:registry=https://registry.npmjs.org
@protobufjs:registry=https://registry.npmjs.org
@reach:registry=https://registry.npmjs.org
@react-dnd:registry=https://registry.npmjs.org
@react-hook:registry=https://registry.npmjs.org
@react-pdf:registry=https://registry.npmjs.org
@redocly:registry=https://registry.npmjs.org
@reduxjs:registry=https://registry.npmjs.org
@remix-run:registry=https://registry.npmjs.org
@rollup:registry=https://registry.npmjs.org
@rushstack:registry=https://registry.npmjs.org
@sailshq:registry=https://registry.npmjs.org
@samverschueren:registry=https://registry.npmjs.org
@scarf:registry=https://registry.npmjs.org
@schematics:registry=https://registry.npmjs.org
@serverless:registry=https://registry.npmjs.org
@servie:registry=https://registry.npmjs.org
@sheerun:registry=https://registry.npmjs.org
@sideway:registry=https://registry.npmjs.org
@sinclair:registry=https://registry.npmjs.org
@sindresorhus:registry=https://registry.npmjs.org
@sinonjs:registry=https://registry.npmjs.org
@stiligita:registry=https://registry.npmjs.org
@stoplight:registry=https://registry.npmjs.org
@storybook:registry=https://registry.npmjs.org
@stripe:registry=https://registry.npmjs.org
@surma:registry=https://registry.npmjs.org
@svgr:registry=https://registry.npmjs.org
@swc-node:registry=https://registry.npmjs.org
@swc:registry=https://registry.npmjs.org
@szmarczak:registry=https://registry.npmjs.org
@tanem:registry=https://registry.npmjs.org
@tencent-sdk:registry=https://registry.npmjs.org
@testing-library:registry=https://registry.npmjs.org
@tokenizer:registry=https://registry.npmjs.org
@tootallnate:registry=https://registry.npmjs.org
@trysound:registry=https://registry.npmjs.org
@tsconfig:registry=https://registry.npmjs.org
@types:registry=https://registry.npmjs.org
@typescript-eslint:registry=https://registry.npmjs.org
@tyriar:registry=https://registry.npmjs.org
@verdaccio:registry=https://registry.npmjs.org
@virtuoso.dev:registry=https://registry.npmjs.org
@vitejs:registry=https://registry.npmjs.org
@vscode:registry=https://registry.npmjs.org
@vue:registry=https://registry.npmjs.org
@wasm-tool:registry=https://registry.npmjs.org
@webassemblyjs:registry=https://registry.npmjs.org
@webpack-cli:registry=https://registry.npmjs.org
@webpack-contrib:registry=https://registry.npmjs.org
@welldone-software:registry=https://registry.npmjs.org
@wnd:registry=https://registry.npmjs.org
@xtuc:registry=https://registry.npmjs.org
@yarnpkg:registry=https://registry.npmjs.org
@zkochan:registry=https://registry.npmjs.org

//npm.wonderlic.com/:username=wonderlic_ro
//npm.wonderlic.com/:_password="VzBuZDNybDFjLU5QTS1STw=="
//npm.wonderlic.com/:always-auth=true